<div class="container mt-5">
    <h2 class="mt-3">Change Password</h2>
    {{#if (isString message)}}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {{/if}}
    {{#if (isString error)}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {{/if}}

    <form action="/wristwonders/members/profile/update-password" method="POST">
        <label for="oldPassword">Old Password:</label>
        <input class="form-control" type="password" id="oldPassword" name="oldPassword" required min="8">
        <p class="text-danger">{{error.oldPassword}}</p>
        <label for="password">New Password:</label>
        <input class="form-control" type="password" id="password" name="password" required min="8">
        <p class="text-danger">{{error.password}}</p>
        <label for="confirmPassword">New Password:</label>
        <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" required min="8">
        <p class="text-danger">{{error.confirmPassword}}</p>
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-dark" type="submit">Change Password</button>
        </div>
    </form>
</div>