<div class="mb-3">
    {{#if (isString message)}}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {{/if}}

    {{#if (isString error)}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {{/if}}

    <div class="mt-3 w-100 d-flex justify-content-end">
        <form action="/wristwonders/watches/filter" method="GET" class="d-flex gap-2">
            <div class="">
                <select name="brand" id="brand" class="form-select">
                    <option value="" {{#if (stringCompare "" ../filterBrandName)}}selected{{/if}}>All Brands</option>
                    {{#each brands}}
                    <option value="{{this.brandName}}" {{#if (stringCompare this.brandName ../filterBrandName)}}selected
                        {{/if}}>{{this.brandName}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-dark">Filter</button>
        </form>
        {{!-- <label for="brand" class="form-label">Filter by brand</label>
        <select class="form-select" id="brand" name="brand" required>
            <option value="" disabled selected hidden>Select brand</option>
            {{#each brands}}
            <option value="{{this._id}}">{{this.brandName}}</option>
            {{/each}}
        </select> --}}
    </div>
</div>
{{#if watches}}
{{#if watches.length}}
<div class="watch-cards my-4">

    {{#each watches}}
    <div class="watch-card">
        <div class="card">
            <a href="/wristwonders/watches/collection/{{ this._id }}" class="text-decoration-none text-dark">
                <div class="img-watch-container">
                    <img src="{{ this.image }}" alt="{{ this.watchName }} Image" class="img-watch">
                </div>
                <div class="d-flex justify-content-center flex-column align-items-center">
                    <div class="mt-2 mb-1">{{toUpperCase this.brand.brandName }}</div>
                    <span class="fw-bold">{{ this.watchName }}</span>
                </div>
                <button type="button" class="btn bg-custom w-100 mt-2"><a
                        href="/wristwonders/watches/collection/{{ this._id }}" class="text-decoration-none text-dark">
                        View Details</a></button>
            </a>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<div class="img-container my-auto d-flex flex-column justify-content-center align-items-center mt-5">
    <img src="/images/empty.png" alt="Empty data" class="img">
    <span>No watches</span>
</div>
{{/if}}
{{else}}
<div class="img-container my-auto d-flex flex-column justify-content-center align-items-center mt-5">
    <img src="/images/empty.png" alt="Empty data" class="img">
    <span>No watches</span>
</div>
{{/if}}