<h1>Welcome, {{ member.name }}</h1>
<div>
    {{#if member}}
    <p>Membername: {{ member.membername }}</p>
    <p>Name: {{ member.name }}</p>
    <p>Year of Birth: {{ member.YOB }}</p>
    {{else}}
    <p>Member not found.</p>
    {{/if}}
</div>