<div class="mt-4 px-3">
    <table class="table table-striped bordered table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Member Id</th>
                <th scope="col">Membername</th>
                <th scope="col">Name</th>
                <th scope="col">YOB</th>
                <th scope="col">
                    <div class="d-flex justify-content-center">Role</div>
                </th>
                <th scope="col">Joined Date</th>
                <th scope="col">Updated Date</th>
                <th scope="col" class="d-flex gap-3 justify-content-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.membername}}</td>
                <td>{{this.name}}</td>
                <td>{{this.YOB}}</td>
                <td>
                    <div class="d-flex justify-content-center">
                        {{#if this.isAdmin}}
                        <span class="badge badge-primary rounded-pill text-bg-danger">Admin</span>
                        {{else}}
                        <span class="badge badge-info rounded-pill text-bg-info">Member</span>
                        {{/if}}
                    </div>
                </td>
                <td>{{formatDate this.createdAt}}</td>
                <td>{{formatDate this.updatedAt}}</td>
                <td class="d-flex gap-3 justify-content-center">
                    <button type="button" class="btn bg-custom">
                        <a href="/wristwonders/accounts/{{this._id}}" class="text-white text-decoration-none"><i
                                class="bi bi-eye d-flex justify-content-center align-items-center text-dark"></i></a>
                    </button>
                    {{!-- <button type="button" class="btn bg-custom " data-toggle="modal"
                        data-target="#updateBrandModal-{{this.id}}">
                        <i class="bi bi-pencil-square d-flex justify-content-center align-items-center"></i>
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#deleteBrandModal-{{this.id}}">
                        <i class="bi bi-trash d-flex justify-content-center align-items-center"></i>
                    </button> --}}
                </td>
            </tr>

            <!-- Delete Brand Modal -->
            {{!-- <div class="modal fade" id="deleteBrandModal-{{this._id}}" tabindex="-1"
                aria-labelledby="deleteBrandModalLabel-{{this._id}}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteBrandModalLabel-{{this._id}}">Delete Brand</h5>
                            <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure want to delete brand?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="close btn btn-secondary" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">Cancel</span>
                            </button>
                            <form action="/wristwonders/brands/{{this._id}}?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> --}}
            {{/each}}
        </tbody>
    </table>
</div>