<div class="container mt-3">
    <div class="rounded-1 bg-new-secondary py-2 px-3 mt-3 d-flex align-items-center mb-3">
        {{#if member.isAdmin}} <a class="text-decoration-none" href="/wristwonders/admin/profile">Profile</a>
        {{else}}
        <a class="text-decoration-none" href="/wristwonders/members/profile">Profile</a> {{/if}}
        <i class="bi bi-chevron-right mx-1"></i>
        <span>Update password</span>
    </div>
    <h4 class="">Change Password</h4>

    <div class="d-flex flex-column align-items-center justify-content-center">
        {{#if (hasElements message)}}
        {{#each message}}
        <div class="alert alert-success d-flex flex-column w-50" role="alert">
            {{this}}
        </div>
        {{/each}}
        {{/if}}
        {{#if (hasElements error)}}
        <div class="alert alert-danger d-flex flex-column w-50" role="alert">
            {{#each error}}

            {{this}}

            {{/each}}</div>
        {{/if}}

        {{#if (isString message)}}
        <div class="alert alert-success w-50" role="alert">
            {{message}}
        </div>
        {{/if}}

        {{#if (isString error)}}
        <div class="alert alert-danger w-50" role="alert">
            {{error}}
        </div>
        {{/if}}
        <form action="/wristwonders/members/profile/update-password" method="POST" class="w-50">
            <label for="oldPassword" class="form-label">Old Password:</label>
            <input class="form-control" type="password" id="oldPassword" name="oldPassword" required min="8">
            <p class="text-danger">{{error.oldPassword}}</p>
            <label for="password" class="form-label">New Password:</label>
            <input class="form-control" type="password" id="password" name="password" required min="8">
            <p class="text-danger">{{error.password}}</p>
            <label for="confirmPassword" class="form-label">New Password:</label>
            <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" required min="8">
            <p class="text-danger">{{error.confirmPassword}}</p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-dark" type="submit">Change Password</button>
            </div>
        </form>
    </div>
</div>