<div class="container mt-5 mb-4">
    <div class="mx- d-flex justify-content-center w-100">
        <h2 class="mx-auto">Register</h2>
    </div>
    <div class="w-50 mx-auto">
        {{#if (hasElements message)}}
        {{#each message}}
        <div class="alert alert-success" role="alert">
            {{this}}
        </div>
        {{/each}}
        {{/if}}
        {{#if (hasElements error)}}
        <div class="alert alert-danger d-flex flex-column" role="alert">
            {{#each error}}

            {{this}}

            {{/each}}</div>
        {{/if}}

        {{#if (isString message)}}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {{/if}}

        {{#if (isString error)}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {{/if}}
        <form action="/wristwonders/auth/register" method="POST">
            <label for="membername" class="form-label">Membername</label>
            <input class="form-control" type="text" id="membername" name="membername" required min="1"
                value="{{member.membername}}">
            <p class="text-danger">{{error.username}}</p>

            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="password" id="password" name="password" required min="8">
            <p class="text-danger">{{error.password}}</p>

            <label for="name" class="form-label">Full Name</label>
            <input class="form-control" type="text" id="name" name="name" min="1" value="{{member.name}}" required>
            <p class="text-danger">{{error.name}}</p>

            <label for="YOB" class="form-label">Year of Birth</label>
            <input class="form-control" type="number" id="YOB" name="YOB" value="{{member.YOB}}" required>
            <p class="text-danger">{{error.YOB}}</p>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <button class="btn btn-dark w-100 mb-2" type="submit">Register</button>
                <p class="mt-3">
                    <span class="text-secondary mt-2">Already have an account?</span>
                    <a href="/wristwonders/auth/login" class="text-decoration-none text-primary">Login now</a>
                </p>
            </div>
        </form>
    </div>
</div>